/*-- scss:rules --*/

h1 {
  font-size: 44px;
}

h2 {
  font-weight: 600;
}

h3 {
  font-size: 1.5em;
}

.shiny-logo {
  height: 1.3em;
  vertical-align: top;
  display: inline-block;
}

.call-to-action {
  @extend .btn;
  @extend .btn-primary;
  @extend .rounded;
  @extend .mb-2;
  @extend .btn-lg;
}

.view-app {
  font-family: $font-family-monospace;
  text-transform: uppercase;
}

.card-footer {
  background-color: #fff;
  padding-bottom: 20px;
  border: 0;
}